
*{
    box-sizing: border-box; 
}
body {
    font-size: 16px;
}
li{
    padding: 10px;
}
.jumbotron{
    background: linear-gradient(to right,#0160dd, #010650);
    color: #d0d4d8;
}
.current-weather-container{
    color: white;
    background: linear-gradient(to right,#0160dd, #010650);
}
.forecast{
    color: white;
    background: linear-gradient(to right,#0160dd, #020a7c);
}



